.Rproj.user
.Rhistory
.RData
.Ruserdata
2020_05_05_archived_04_30_generated/
scenarios.rds
scenarios_overview.rds
alls.qs
afghanistan_peak.csv
data/
figure/
rsconnect/
2020_06_11_archive/
Combined_Plots_Md.pdf
Combined_Plots_Md.tex
Combined_Plots_Md_files
new_scenario_ids.csv
COVID_LIC-test.Rproj